{% extends 'base.html.twig' %}

{% block title %}Mon profil
{% endblock %}

{% block body %}
	<div class="table-size">
		<h1>Mon profil</h1>

		<table class="table table-sm">
			<tbody>
				<tr>
					<th>Email</th>
					<td>{{ user.email }}</td>
				</tr>
				<tr>
					<th>Prénom</th>
					<td>{{ user.firstname }}</td>
				</tr>
				<tr>
					<th>Nom</th>
					<td>{{ user.lastname }}</td>
				</tr>
				<tr>
					<th>Adresse</th>
					<td>{{ user.address }}</td>
				</tr>
				<tr>
					<th>Code postale</th>
					<td>{{ user.zipCode }}</td>
				</tr>
				<tr>
					<th>Ville</th>
					<td>{{ user.city }}</td>
				</tr>
				<tr>
					<th>Téléphone</th>
					<td>{{ user.phone }}</td>
				</tr>
			</tbody>
		</table>

		{% if is_granted("ROLE_VALIDATOR") %}
			<h2>Mes Documents</h2>

			<table class="table table-sm">
				<tbody>
					<tr>
						<th>Documents</th>
					</tr>
					{% for document in documents %}
						<tr>
							<td>
								<a class="black-link" href="{{ asset('./uploads/images/') }}{{ document.title }}" download>License de juge</a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td>Aucun document trouvé</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>

		{% endif %}


		<a class="btn btn-brown mt-1" href="{{ path('profile_edit') }}">Modifier le profil</a>

		<a class="btn btn-brown mt-3" href="{{ path('profile_update_password') }}">Modifier mot de passe</a>

		{{ include('profile/_delete_form.html.twig') }}

	</div>

{% endblock %}
