{% extends 'base.html.twig' %}

{% block javascripts %}
	<script src="{{asset('./js/registration.js')}}"></script>
{% endblock %}

{% block title %}Register
{% endblock %}

{% block body %}
	{% for flashError in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}

	<div class="form-site">
		<h1>S'inscrire</h1>

		<label for="particulier">Je suis un particulier</label>
		<input type="radio" name="userType" value="particulier" id="particulier" checked>
		<label for="validator">Je suis un représentant</label>
		<input type="radio" name="userType" value="validator" id="validator">

		{{ form_start(registrationForm) }}
		{{ form_row(registrationForm.email, {
            label: 'Email*'
        }) }}
		{{ form_row(registrationForm.password, {
        }) }}
		{{ form_row(registrationForm.firstname, {
            label: 'Prénom*'
        })  }}
		{{ form_row(registrationForm.lastname, {
            label: 'Nom*'
        })  }}
		{{ form_row(registrationForm.address, {
            label: 'Adresse*'
        }) }}
		{{ form_row(registrationForm.zipCode, {
            label: 'Code postal*'
        }) }}
		{{ form_row(registrationForm.city, {
            label: 'Ville*'
        })  }}
		{{ form_row(registrationForm.phone, {
            label: 'Téléphone*'
        })  }}


		{{ form_row(registrationForm.licenceJudge, {
            label: 'Licence de Juge*',
			id :'lcj'
        }) }}
		{{ form_row(registrationForm.agreeTerms, {
            label: 'Accepter les conditions d\'utilisation'
        }) }}

		<button type="submit" class="btn btn-color btn-center">S'inscrire</button>
		{{ form_end(registrationForm) }}
	</div>
{% endblock %}
