{% extends 'base.html.twig' %}

{% block title %}Profile des chats
{% endblock %}

{% block body %}

	<div class="cats-container">

		{% for cat in cats %}

			<div class="card" style="width: 18rem;">
				<img src="{{ asset('./uploads/images/') }}{{cat.imageFilename}}" alt="cat"/>
				<div class="card-body">
					<p class="card-text">
						<ul class="list-cat">
							<li>Nom :
								{{ cat.name }}</li>
							<li>Date de naissance :
								{{ cat.dob ? cat.dob|date('Y-m-d') : '' }}</li>
							<li>Ville :
								{{ cat.city }}</li>
							<li>Race :
								{{ cat.breed }}</li>
							<li>Genre :
								{{ cat.gender }}</li>
							<li>Robe
								{{ cat.coat}}</li>
							<li>Yeux :
								{{cat.eyeColor}}</li>
							<li>Poids :
								{{ cat.weight }}</li>
							<li>Taille :
								{{ cat.size }}</li>
							<li>Description :
								{{ cat.description }}</li>
						</ul>
						<ul class="no-puce">
							<li>Coordonnées du propriétaire :</li>
							<li>Nom :
								{{ cat.owner.lastname }}</li>
							<li>Prénom :
								{{ cat.owner.firstname }}</li>
							<li>Adresse :
								{{ cat.owner.address }}</li>
							<li>{{ cat.owner.zipCode }}
								{{ cat.owner.city }}</li>
							<li>Numéro :
								{{ cat.owner.phone }}</li>
							<li>Email :
								<a href="{{path('message_new', {'id' : cat.owner.id})}}">{{ cat.owner.email }}</a>

							</li>
						</ul>
					</p>
				</div>
			</div>
		

		{% endfor %}

	</div>

	<a href="{{ path('profile_cat_new') }}">Create new</a>
{% endblock %}
