{% extends 'base.html.twig' %}

{% block title %}Voir un chat
{% endblock %}

{% block body %}
	<h1>Voir un chat</h1>


	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ cat.id }}</td>
			</tr>
			<tr>
				<th>Image</th>
				<td>{{ cat.imageFilename }}</td>
			</tr>
			<tr>
				<th>Nom</th>
				<td>{{ cat.name }}</td>
			</tr>
			<tr>
				<th>Date d'anniversaire</th>
				<td>{{ cat.dob ? cat.dob|date('Y-m-d') : '' }}</td>
			</tr>
			<tr>
				<th>Ville</th>
				<td>{{ cat.city }}</td>
			</tr>
			<tr>
				<th>Race</th>
				<td>{{ cat.breed }}</td>
			</tr>
			<tr>
				<th>Genre</th>
				<td>{{ cat.gender }}</td>
			</tr>
			<tr>
				<th>Robe</th>
				<td>{{ cat.coat }}</td>
			</tr>
			<tr>
				<th>Couleur des yeux</th>
				<td>{{ cat.eyeColor }}</td>
			</tr>
			<tr>
				<th>Poids</th>
				<td>{{ cat.weight }}</td>
			</tr>
			<tr>
				<th>Taille</th>
				<td>{{ cat.size }}</td>
			</tr>
			<tr>
				<th>Description</th>
				<td>{{ cat.description }}</td>
			</tr>

		</tbody>
	</table>

	<a class="btn btn-brown m-3" href="{{ path('profile_cat_index') }}">Retour</a>

	<a class="btn btn-brown m-3" href="{{ path('profile_cat_edit', {'id': cat.id}) }}">Modifier</a>

	{{ include('profile_cat/_delete_form.html.twig') }}
{% endblock %}
