{% extends 'base.html.twig' %}

{% block title %}
	{{title}}
{% endblock %}

{% block body %}

	<div class="form-site">
		<h1>{{title}}</h1>

		{{ form_start(updateForm) }}
		{{ form_row(updateForm.plainPassword, {
            label: 'Mot de passe'
        }) }}
		<button class="btn btn-primary">Réinitialiser</button>
		{{ form_end(updateForm) }}
	</div>
{% endblock %}
