{% extends 'base.html.twig' %}

{% block title %}
	{{title}}
{% endblock %}

{% block body %}

	<div class="form-site">
		<h1>{{title}}</h1>

		{{ form_start(updateForm) }}
		{{ form_row(updateForm.plainPassword, {
            label: 'Mot de passe'
        }) }}
		<button class="btn btn-color btn-center mt-3">Réinitialiser</button>
		<a class="btn btn-color btn-center mt-3" href="{{ path ('home') }}">Retour</a>
		{{ form_end(updateForm) }}
	</div>
{% endblock %}
