{% extends 'base.html.twig' %}

{% block title %}Message index
{% endblock %}

{% block body %}
	<h1 class="mt-3">Liste des messages</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Emmetteur</th>
				<th>Destinataire</th>
				<th>Objet</th>
				<th>Contenu</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for message in messages %}
				<tr>
					<td>{{ message.id }}</td>
					<td>{{ message.sender }}</td>
					<td>{{ message.recipient }}</td>
					<td>{{ message.subject }}</td>
					<td>{{ message.content }}</td>
					<td>
						<a href="{{ path('admin_message_show', {'id': message.id}) }}">Voir</a>
						<a href="{{ path('admin_message_edit', {'id': message.id}) }}">Modifier</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="6">Aucun message trouvé</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a class="btn btn-color mt-3" href="{{ path('admin_message_new') }}">Ajouter un message</a>
{% endblock %}
