{% extends 'base.html.twig' %}

{% block title %}Message
{% endblock %}

{% block body %}
	<h1 class="mt-3">Message</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ message.id }}</td>
			</tr>
			<tr>
				<th>Objet</th>
				<td>{{ message.subject }}</td>
			</tr>
			<tr>
				<th>Contenu</th>
				<td>{{ message.content }}</td>
			</tr>
		</tbody>
	</table>

	<a class="btn btn-color m-3" href="{{ path('admin_message_index') }}">Retour</a>

	<a class="btn btn-color m-3" href="{{ path('admin_message_edit', {'id': message.id}) }}">Modifier</a>

	{{ include('admin_message/_delete_form.html.twig') }}
{% endblock %}
