<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="{{ path ('home') }}">Accueil</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNavDropdown">
		<ul class="navbar-nav">

			{% if not app.user  %}
				<li class="nav-item">
					<a class="nav-link" href="{{ path ('app_register') }}">Inscription</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path ('app_login') }}">Connexion</a>
				</li>
			{% endif %}
			{% if is_granted("ROLE_ADMIN") %}
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Espace administrateur
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="{{ path ('admin_user_index') }}">Gestion des utilisateurs</a>

						<a class="dropdown-item" href=" {{ path ('admin_cat_index') }}">Gestion des chats
						</a>
						<a class="dropdown-item" href="{{ path ('admin_review_index') }}">Gestion des reviews
						</a>
						<a class="dropdown-item" href="{{ path ('admin_document_index') }}">Gestion des documents
						</a>
						<a class="dropdown-item" href="{{ path ('admin_message_index') }}">Gestion des messages</a>

					</div>
				</li>
			{% endif %}
			{% if app.user %}

				{% if is_granted("ROLE_VALIDATOR") %}
					<li class="nav-item">
						<a class="nav-link" href="{{ path ('review_cat') }}">Inspection</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path ('review_history') }}">Historique des inspections</a>
					</li>
				{% else %}
					<li class="nav-item">
						<a class="nav-link" href="{{ path ('profile_cat_index') }}">Profil des chats</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path ('see_cat') }}">Mes chats</a>
					</li>
				{% endif %}
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Messagerie
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" href="{{ path ('recieve_index') }}">Boite de réception</a>

						<a class="dropdown-item" href=" {{ path ('sent_index') }}">Boite d'envoi
						</a>

					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path ('contact') }}">Contacte</a>
				</li>
			{% endif %}
			<li class="nav-item">
				<a class="nav-link" href="{{ path ('about') }}">A propos</a>
			</li>
			{% if app.user %}
				<li class="nav-item">
					<a class="nav-link" href="{{ path ('profile_show') }}">Mon profile</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path ('app_logout') }}">Déconnexion</a>
				</li>
			{% endif %}
		</ul>
	</div>
</nav>
