{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs
{% endblock %}

{% block body %}
	<h1 class="m-3">Liste des utilisateurs</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Email</th>
				<th>Roles</th>
				<th>Prénom</th>
				<th>Nom</th>
				<th>Adresse</th>
				<th>Code Postal</th>
				<th>Ville</th>
				<th>Téléphone</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
				<tr>
					<td>{{ user.id }}</td>
					<td>{{ user.email }}</td>
					<td>{{ user.roles ? user.roles|json_encode : '' }}</td>
					<td>{{ user.firstname }}</td>
					<td>{{ user.lastname }}</td>
					<td>{{ user.address }}</td>
					<td>{{ user.zipCode }}</td>
					<td>{{ user.city }}</td>
					<td>{{ user.phone }}</td>
					<td>
						<a href="{{ path('admin_user_show', {'id': user.id}) }}">Voir</a>
						<a href="{{ path('admin_user_edit', {'id': user.id}) }}">Modifier</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="12">Aucun utilisateur trouvé</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a class="btn btn-color m-3" href="{{ path('admin_user_new') }}">Ajouter un utilisateur</a>
{% endblock %}
