{% extends 'base.html.twig' %}

{% block title %}Document index
{% endblock %}

{% block body %}
	<h1 class="m-3">Document index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Titre</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for document in documents %}
				<tr>
					<td>{{ document.id }}</td>
					<td>{{ document.title }}</td>
					<td>
						<a href="{{ path('admin_document_show', {'id': document.id}) }}">Voir</a>
						<a href="{{ path('admin_document_edit', {'id': document.id}) }}">Modifier</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="3">Aucun document trouvé</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a class="btn btn-color mt-3" href="{{ path('admin_document_new') }}">Ajouter un document</a>
{% endblock %}
