{% extends 'base.html.twig' %}

{% block title %}Mes chats
{% endblock %}

{% block body %}
	<div class="cats-container">
		{% for cat in app.user.cats %}
			<div class="card" style="width: 18rem;">
				<img src="{{ asset('./uploads/images/') }}{{cat.imageFilename}}" alt="cat"/>
				<div class="card-body">
					<p class="card-text">
						<ul class="no-puce">
							<li>Nom :
								{{ cat.name }}</li>
							<li>Date de naissance :
								{{ cat.dob ? cat.dob|date('Y-m-d') : '' }}</li>
							<li>Ville :
								{{ cat.city }}</li>
							<li>Race :
								{{ cat.breed }}</li>
							<li>Genre :
								{{ cat.gender }}</li>
							<li>Robe
								{{ cat.coat}}</li>
							<li>Yeux :
								{{cat.eyeColor}}</li>
							<li>Poids :
								{{ cat.weight }}</li>
							<li>Taille :
								{{ cat.size }}</li>
							<li>Description :
								{{ cat.description }}</li>
						</ul>
					</p>
					<a href="{{ path ('admin_cat_edit', {'id' : cat.id}) }}">
						Editer</a>
					<a href="{{ path ('admin_cat_delete', {'id' : cat.id}) }}">
						Supprimer</a>
				</div>
			</div>

		{% endfor %}
	</div>
	<a href="{{ path('profile_cat_new') }}">Ajouter un chat</a>

{% endblock %}
