{% extends 'base.html.twig' %}

{% block title %}
	Historique des inspections
{% endblock %}

{% block body %}

	<div class="card-deck">
		{% for cat in cats %}
			<div class="card">
				<img style="width: 18rem;" src="{{ asset('./uploads/images/') }}{{ cat.imageFilename }}" class="card-img-top" alt="cat-picture">
				<div class="card-body">
					<h5 class="card-title">{{ cat.name }}

						<a class="ml-2 btn btn-success" href="{{ path('profile_cat_show', {'id': cat.id}) }}">Détail du chat</a>

					</h5>

					<p class="card-text">
						Commentaire :
						{% if cat.review.comment %}
							{{cat.review.comment}}
						{% else %}
							Non renseigné
						{% endif %}
				</div>
				<div class="card-footer
											{% if cat.review.validated %}
												border-success
						                    {% else %}
						                        border-danger
						                    {% endif %}
						                    ">
					<small class="text-muted">
						{% if cat.review.validated %}
							Aprouvé
						{% else %}
							Refusé
						{% endif %}

						le :
						{{cat.review.createdAt | date("d/m/Y H:i:s")}}</small>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
